.userPermissionContainer {
    background-color: aliceblue;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
}

.userPermissionContainer .form-check {
    background-color: aliceblue;
}