body {
  background: url('../images/background.jpg') no-repeat center fixed;
  background-size: cover;
}

#root {
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 3rem;
}

.contentM {
  padding-bottom: 4.5rem;
}

.App {
  text-align: center;
}

.attributions {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-top: .7rem;
  background-color: brown; 
}

.attributionsM {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  padding-top: .7rem;
  background-color: brown;
}

.listItem {
  padding-bottom: 10px;
}

.listItem a {
  text-decoration: none;
  color: black;
}

.listItem a:hover {
  color: gray;
}

.icon {
  max-height: 20px;
  margin-left: 30px;
}

nav {
  margin-bottom: 20px;
}

.btn.active.btn-warning {
  background-color: rgb(250, 215, 109) !important;
}

.btn-group, .btn-group-vertical {
  margin: 10px 0px 20px 0px;
}

.message {
  background-color: aliceblue;
  padding: 8px 30px;
  border-radius: 5px;
  display: inline-block;
}

.label {
  background-color: aliceblue;
  padding: 4px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.btn-dark:hover {
  background-color: rgb(59, 59, 59);
}

.navbarDrop a button {
  padding-left: 0;
}

.navbarDrop .dropdown-menu {
  min-width: 0;
}

.navbarDrop .dropdown-toggle {
  color: white;
}

.searchResults {
  border-radius: 10px;
  margin-bottom: 20px;
}

.deleteButton {
  margin-top: 20px;
}