.form-check {
    display: inline-block;
    background-color: white;
    padding: 8px 35px;
    margin-top: 20px;
    border-radius: 5px;
}

.longFormSubmit {
    display: block;
    margin: 20px auto;
}

.loginMobile .form-control {
    margin-bottom: 10px;
}

.searchForm {
    margin-bottom: 20px;
}

.userForm .form-control {
    margin: 20px 0px;
}

.editForm, .nameForm {
    margin-bottom: 20px;
}

.teamsFormContainer {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.teamsFormContainer .form-check{
    background-color: aliceblue;
}

#numTeamsLabel {
    text-align: right;
}

#numTeamsButtons {
    margin: 10px 0px;
    justify-content: space-around;
}

#numTeamsButtons button {
    padding: 8px 30px;
}

.teamsFormCol {
    display: inline-block;
    margin: 5px;
}

.teamsFormRow {
    margin-bottom: 30px;
}