.orgHead {
    padding: 15px 0px;
    margin: 10px 0px;
    background-color: aliceblue;
    border-radius: 5px;
}

.addRemove {
    margin: 20px 0px;
}

#cancelSeasonCreateButton {
    margin-bottom: 20px;
}